@model IEnumerable<FlowersAndBushes.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            aspecto
        </th>
        <th>
            tipo de Hojas
        </th>
        <th>
            tipo de Flores
        </th>
        <th>
           temporada de Plantación
        </th>
        <th>
           temporada de Floración
        </th>
        <th>
            familia a la que Pertenece
        </th>
        <th>
           precio por Unidad
        </th>
        <th>
            fotografía
        </th>
        <th>
            Abonos
        </th>
        <th>
            Tierras
        </th>
        <th>
            Adornos
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.aspecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoHojas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoFlores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.temporadaPlantación)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.temporadaFloración)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.familiaPertenece)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioUnidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fotografía)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abonos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tierras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adornos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
